<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"/>
<body>
<!-- Navigation menu bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/items"><label class="text-center" th:text="#{label.site.name}">siteName</label></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <!-- categoryType page sort button-->
        <form id="form">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item" th:each="itemCategory : ${categoryTypes}">
              <a class="nav-link active" aria-current="page"
                 th:href="@{/items/category/{code} (code=${itemCategory.code})}" type="button" >
                <label class="text-center-float" th:text="${itemCategory.categoryName}">상품 카테고리</label></a>
            </li>
          </ul>
        </form>

        <!-- dropdown menu bar-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/shop/assets/user.png" /></a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/users/info"><label th:text="#{label.user.info}">개인정보 보러가기 버튼</label></a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/sales" type="button" ><label th:text="#{label.user.product}">판매관리</label></a></li>
            <li><a class="dropdown-item" href="/items/add"><label th:text="#{label.user.addItem}">상품 등록하러 가기 버튼</label></a></li>
            <li><a class="dropdown-item" href="/api/cart" type="button" onclick="getCart()"><label th:text="#{label.user.cart}">장바구니 이동버튼</label></a></li>
            <li> <input type="hidden" id="loginId" th:value="${user.loginId}"><a class="dropdown-item" type="button" href="/api/users/logout" onclick="logoutSubmit()"><label th:text="#{label.user.logout}">로그아웃 버튼</label></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- product info section -->
<section class="py-5">
  <div class="container justify-content-center">
    <div class="row">
      <!--thumbnail img -->
      <div class="col-md-6">
        <div class="map_container">
          <img  class="card-img-fake2" th:src="|${product.itemImgDtoList[0].getSavePath()}|" alt=""/>
        </div>
      </div>

      <!-- item info -->
      <div class="col-md-6" id="cartModel">
        <div class="form_container">
          <form>
            <input type="hidden" id="id" th:value="${product.id}"/>
            <div class="form-group">
              <label th:text="#{label.item.itemName}">상품명</label>
              <input class="form-control" th:value="${product.itemName}" readonly>
            </div>

            <div class="form-group">
              <label th:text="#{label.item.price}">상품가격</label>
              <input class="form-control" th:value="${product.price}" readonly>
            </div>

            <div class="form-group">
              <label th:text="#{label.item.quantity}">상품재고량</label>
              <input class="form-control" th:value="${product.quantity}" readonly>
            </div>

            <div class="form-group">
              <label th:text="#{label.item.grade}">상품 상태등급</label>
              <input class="form-control"  th:value="${product.itemType}" readonly>
            </div>

            <div class="form-group">
              <label th:text="#{label.item.field}">상품 카테고리</label>
              <input class="form-control" th:value="${product.categoryType}" readonly>
            </div>

            <div class="form-group">
              <label th:text="#{label.product.status}">상품 판매상태</label>
              <input class="form-control" th:value="${product.status}" readonly>
            </div>


            <!-- buy menu option-->
            <div class="modelMenu">
              <div class="form-group">
                <input type="number" id="count" name="count" th:value="${product.count}"  placeholder="주문 수량">
                <button class="btn btn-outline-dark" type="button" onclick="orderSubmit()">주문하기</button>
              </div>
            </div>

            <hr class="my-4">

            <br><br>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end; product info section -->

<!-- all product image section -->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="row gy-2 mb-4">
        <div class="row">
          <div class="btn_box">
            <div th:each="itemImg : ${product.itemImgDtoList}">
              <img class="card-img-fake2" th:if="${not #strings.isEmpty(itemImg.savePath)}" th:src="|${itemImg.savePath}|"/> <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/shop/js/scripts.js"></script>
<!--JS-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/shop/js/cart/order.js"></script>
<script src="/shop/js/users/logout.js"></script>
<script src="/shop/js/cart/getCart.js"></script>
<script src="/shop/js/sales/getSales.js"></script>
<script src="/shop/js/item/categoryPage.js"></script>
</body>
</html>