<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"/>
<body>
<!-- Navigation menu bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/items"><label class="text-center" th:text="#{label.site.name}">siteName</label></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <!-- categoryType page sort button-->
                <form id="form">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item" th:each="itemCategory : ${categoryTypes}">
                            <a class="nav-link active" aria-current="page"
                               th:href="@{/items/category/{code} (code=${itemCategory.code})}" type="button" >
                                <label class="text-center-float" th:text="${itemCategory.categoryName}">상품 카테고리</label></a>
                        </li>
                    </ul>
                </form>

                <!-- dropdown menu bar-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="/shop/assets/user.png" /></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/users/info"><label th:text="#{label.user.info}">개인정보 보러가기 버튼</label></a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="/sales" type="button" ><label th:text="#{label.user.product}">판매관리</label></a></li>
                        <li><a class="dropdown-item" href="/items/add"><label th:text="#{label.user.addItem}">상품 등록하러 가기 버튼</label></a></li>
                        <li><a class="dropdown-item" href="/api/cart" type="button" onclick="getCart()"><label th:text="#{label.user.cart}">장바구니 이동버튼</label></a></li>
                        <li> <input type="hidden" id="loginId" th:value="${user.loginId}"><a class="dropdown-item" type="button" href="/api/users/logout" onclick="logoutSubmit()"><label th:text="#{label.user.logout}">로그아웃 버튼</label></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- add item form section -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form id="addItemForm">
                        <div class="form-group">
                            <label for="name" th:text="#{label.item.itemName}">상품명</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="상품명을 입력해주세요">
                        </div>

                        <div class="form-group">
                            <label for="price" th:text="#{label.item.price}">상품가격</label>
                            <input type="number" id="price" name="price" class="form-control" placeholder="상품의 가격을 입력해주세요">
                        </div>

                        <div class="form-group">
                            <label for="stockQuantity" th:text="#{label.item.quantity}">상품재고량</label>
                            <input type="number" id="stockQuantity" name="stockQuantity" class="form-control" placeholder="상품의 재고수량를 입력해주세요">
                        </div>

                        <div class="form-group">
                            <label for="itemType" th:text="#{label.item.grade}">상품 상태등급</label>
                            <select type="text" id="itemType" name="itemType" class="form-control nice-select wide">
                                <option value="">==상품 등급 선택==</option>
                                <option th:each="itemType : ${itemTypes}"
                                        th:value="${itemType.name()}" th:text="${itemType.getItemType()}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="category" th:text="#{label.item.field}">상품 카테고리</label>
                            <select type="text" id="category" name="category" class="form-control nice-select wide">
                                <option value="">==카테고리 선택==</option>
                                <option th:each="itemCategory : ${categoryTypes}"
                                        th:value="${itemCategory.name()}" th:text="${itemCategory.getCategoryName()}"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label th:text="#{label.item.image}">상품 사진</label>
                            <input class="form-control" type="file" name="images" accept="image/*" multiple="multiple">
                        </div>

                        <hr class="my-4">

                        <div class="btn_box">
                            <button  class="btn btn-outline-dark" type="button" onclick="addItemSubmit()" th:text="#{button.save}"></button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- quality guide -->
            <div class="col-md-6">
                <div class="map_container ">
                    <div th:text="#{label.product.guide}"> 가이드 </div>
                    <img class="box1" src="/shop/assets/newGrade.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end ;add item form section -->


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/shop/js/scripts.js"></script>
<!--JS-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/shop/js/item/addItem.js"></script>
<script src="/shop/js/users/logout.js"></script>
<script src="/shop/js/cart/getCart.js"></script>
<script src="/shop/js/sales/getSales.js"></script>
<script src="/shop/js/item/categoryPage.js"></script>
</body>
</html>