<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"/>
<body>
<header class=" py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center">
            <h1 class="display-4 fw-bolder text-black"><label th:text="#{label.site.error}">오류 메시지</label></h1>
            <a class="nav-link" href="/items"><label th:text="#{label.site.home}">홈 이동</label></a>
            <div class="card-img-top"></div><img class="align-middle col-5" src="/shop/assets/errorIcon.png" /></div>
        </div>
    </div>
</header>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/shop/js/scripts.js"></script>
</body>
</html>
