<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header.html :: header"/>
<body>
<!-- site name banner-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand"><label class="text-center" th:text="#{label.site.name}">siteName</label></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
</nav>

<!-- signup form section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <form id="signUpForm">
                <div class="form-group">
                    <label th:for="name">이름</label>
                    <input type="text" id="name" class="form-control" placeholder="이름을 입력하세요">
                </div>

                <div class="form-group">
                    <label th:for="name">아이디</label>
                    <input type="text" id="loginId" class="form-control" placeholder="아이디를 입력하세요">
                </div>

                <div class="form-group">
                    <label th:for="name">비밀번호</label>
                    <input type="text" id="password" class="form-control" placeholder="비밀번호를 입력하세요">
                </div>

                <div class="form-group">
                    <label th:for="name">이메일</label>
                    <input type="text" id="email" class="form-control" placeholder="이메일을 입력하세요">
                </div>

                <div class="form-group">
                    <label th:for="city">도시</label>
                    <input type="text" id="city" class="form-control" placeholder="도시를 입력하세요">
                </div>

                <div class="form-group">
                    <label th:for="street">거리</label>
                    <input type="text" id="street" class="form-control" placeholder="거리를 입력하세요">
                </div>

                <div class="form-group">
                    <label th:for="zipcode">우편번호</label>
                    <input type="text" id="zipcode" class="form-control" placeholder="우편번호를 입력하세요">
                </div>

                <br><br>
                <hr class="my-4">

                <!-- button(signup, cancel)-->
                <div class="row gy-2 mb-4">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-outline-dark"><a type="button" onclick="signUpSubmit()"><label th:text="#{button.save}"/></a></button>
                        </div>

                        <div class="col">
                            <button class="btn btn-outline-dark"><a href="/users/login"><label th:text="#{button.cancel}"/></a> </button>
                        </div>
                    </div>
                </div>
                <!-- -->
            </form>
        </div>
    </div>
</section>
<!-- end signup form section -->

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/shop/js/scripts.js"></script>
<!--JS-->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/shop/js/users/signUp.js"></script>
</body>
</html>